@import "../../../styles/variables.scss";

.block2 {
  @include flex;
  flex-direction: column;
  padding: 0 var(--primary-p);
  width: calc(100% - 2 * var(--primary-p));
  background-color: $white;
  .tittle {
    @include flex;
    margin-top: 60px;
    width: 295px;
    height: 70px;
    font-family: Bebas Neue;
    font-size: 40px;
    line-height: 70px;
    text-transform: uppercase;
    color: #ff3754;
  }
  .content {
    margin: 60px 0;
    width: 100%;
    height: var(--content);
    display: flex;
    flex-direction: row;
    .left,
    .right,
    center {
      height: 100%;
      position: relative;
    }
    .left,
    .right {
      width: 30px;
    }
    .center {
      width: calc(100% - 2 * 30px);
      padding: 0 90px;
      display: flex;
      flex-direction: row;
      &-r,
      &-l {
        @include flex-start;
        height: 100%;
        //width: calc(50% - 90px);
        width: 50%;
        flex-direction: column;
      }
      &-r {
        align-items: center;
      }
      &-l {
        &-tittle {
          @include flex-start;
          flex-direction: column;
          margin-top: 25px;
          .spec {
            //@include flex-start;
            //flex-direction: row;
            font-family: Bebas Neue;
            text-transform: uppercase;
            margin-bottom: 20px;
          }
          .spec1 {
            font-size: 50px;
            line-height: 70px;
            color: #ff3754;
            margin-bottom: 0;
          }
          .spec2 {
            font-size: 30px;
            line-height: 40px;
            color: #888888;
          }
          .spec3 {
            font-family: Museo Sans Cyrl;
            font-size: 10px;
            line-height: 16px;
            letter-spacing: 0.155em;
            color: #303030;
          }
        }
        ul {
          @include flex-start;
          flex-direction: column;
          padding: 0;
          margin-bottom: 30px;
          li {
            display: flex;
            flex-direction: row;
            height: 30px;
          }
          .circle {
            width: 30px;
            height: 30px;
            @include flex;
            align-items: center;
            justify-content: flex-start;
            & > div {
              width: 10px;
              height: 10px;
              background: #ff3754;
              border-radius: 3px;
            }
          }
          span {
            @include flex;
            padding-left: 10px;
            height: 100%;
            font-family: Museo Sans Cyrl;
            font-size: 18px;
            line-height: 160%;
            color: #303030;
          }
        }
        &-subtitle {
          @include flex-start;
          flex-direction: column;
          margin-bottom: 20px;
          .head {
            font-family: Museo Sans Cyrl;
            font-size: 18px;
            line-height: 160%;
            color: #000000;
          }
          .desc {
            font-family: Museo Sans Cyrl;
            font-size: 16px;
            line-height: 160%;
            color: #303030;
          }
        }
      }
    }
    .left {
      .rect {
        &--top,
        &--bottom,
        &--side {
          left: 0;
        }
      }
    }
    .right {
      .rect {
        &--top,
        &--bottom,
        &--side {
          right: 0;
        }
      }
    }
    .rect {
      &--top,
      &--bottom,
      &--side {
        position: absolute;
        top: 0;
        background: #ff3754;
      }
      &--top,
      &--bottom {
        height: 30px;
        width: 52px;
      }
      &--bottom {
        top: var(--content);
      }
      &--side {
        height: var(--content);
        width: 30px;
      }
    }
  }
  .pager {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 220px;
    height: 30px;
    margin-bottom: 85px;
    .left,
    .right {
      width: 30px;
      height: 25px;
    }
    .center {
      @include flex;
      font-family: Museo Sans Cyrl;
      font-size: 24px;
      line-height: 29px;
      height: 100%;
      width: calc(100% - 2 * 30px);
    }
  }
}
