@import "../../../styles/variables.scss";

.block1 {
  @include flex-start;
  flex-direction: column;
  background-image: url("../../../assets/img/bg_1.png");
  width: 100%;
  padding: 0 var(--primary-p);
  .title {
    padding-top: calc(var(--header) + 80px);
    font-family: Bebas Neue;
    font-size: 50px;
    line-height: 90px;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 10px;
  }
  .subtitle {
    font-size: 50px;
    line-height: 60px;
    color: $white;
    margin-bottom: 10px;
    font-family: Bebas Neue;
    span {
      font-family: Museo Sans Cyrl;
      color: #ff3754;
    }
  }
  .table {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    height: 280px;
    .col {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .col1 {
      width: 70px;
      .row {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .col2 {
      width: 75px;
      .row {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }
    .col3 {
      max-width: 360px;
      .row {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: Museo Sans Cyrl;
        font-size: 24px;
        line-height: 29px;
        color: $white;
      }
      .span {
        padding: 0 10px;
        max-width: 300px;
        height: 50px;
        background: #ff3754;
        border-radius: var(--b-r);
        font-family: Museo Sans Cyrl;
        font-size: 36px;
        line-height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
      }
    }
    .row {
      height: 70px;
    }
  }
  .button {
    margin-top: 100px;
    width: 412px;
    height: 68px;
    background: #ff3754;
    border-radius: var(--b-r);
    font-family: Museo Sans Cyrl;
    font-size: 19px;
    line-height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    color: $white;
    cursor: pointer;
  }
}

@media (min-width: 965px) {
  .block1 {
    height: 960px;
  }
}

@media (min-width: 700px) and (max-width: 965px) {
  $padding: 40px;
  .block1 {
    height: 860px;
    padding: 0 $padding;
    .title {
      font-size: 37px;
      line-height: 50px;
    }
    .subtitle {
      font-size: 30px;
      line-height: 40px;
    }
  }
}

@media (max-width: 699px) {
  $padding: var(--mob-p);
  .block1 {
    background-image: none;
    padding: 0;
    justify-content: center;
    align-items: center;
    &-top,
    .table {
      padding: 0 $padding;
      width: 100%;
    }
    .button {
      margin: 0 $padding;
      width: calc(100% - 2 * var(--mob-p));
    }
    &-top {
      order: 1;
      background-image: url("../../../assets/img/bg_1.png");
      background-size: cover;
    }
    .title {
      padding-top: calc(var(--mobHeader) + 40px);
      font-size: 37px;
      line-height: 50px;
      margin-bottom: 0;
    }
    .subtitle {
      font-size: 30px;
      line-height: 40px;
    }
    .table {
      order: 3;
      margin-top: 30px;
      .col2 {
        width: 35px;
      }
      .col3 {
        .row {
          font-family: Museo Sans Cyrl;
          font-size: 16px;
          color: #303030;
        }
        .span {
          height: 37px;
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
    .button {
      order: 2;
      margin-top: 15px;
      max-width: 400px;
      height: 60px;
      justify-content: center;
    }
  }
}
